.site-header {
   background-color: var(--white);
   position: fixed;
   top: 20px;
   left: 50%;
   transform: translateX( -50% );
   width: calc( 100% - 40px);
   border-radius: 15px;
   z-index: 999;
   padding: 2rem 2.8rem;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo img{
   height: 40px;
}

.nav-center ul{
   display: flex;
   gap: 4rem;
}

.nav-center ul li a,
.nav-right ul li a {
   font-weight: 400;
   color: var(--text-color);

   &:hover {
      color: var(--color-primary);
      transition: 0.2s ease;
   }
}

.nav-right ul {
   display: flex;
   align-items: center;
   gap: 2.4rem;
}

.nav-right img {
   height: 2rem;
}

.nav-right a:hover img {
   opacity: 0.7;
}